@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?x8ctbi');
  src:  url('fonts/icomoon.eot?x8ctbi#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?x8ctbi') format('truetype'),
    url('fonts/icomoon.woff?x8ctbi') format('woff'),
    url('fonts/icomoon.svg?x8ctbi#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-usuario:before {
  content: "\e900";
}
.icon-impresora:before {
  content: "\e901";
}
.icon-calendario:before {
  content: "\e902";
}
.icon-auto-1:before {
  content: "\e903";
}
.icon-auto-2:before {
  content: "\e904";
}
.icon-doc:before {
  content: "\e905";
}
.icon-lupa:before {
  content: "\e906";
}
.icon-auto-3:before {
  content: "\e907";
}
.icon-vida:before {
  content: "\e908";
}
.icon-hogar:before {
  content: "\e909";
}
.icon-embarcacion:before {
  content: "\e90a";
}
.icon-mercaderia:before {
  content: "\e90b";
}
.icon-consorcio:before {
  content: "\e90c";
}
.icon-comercio:before {
  content: "\e90d";
}
.icon-avion:before {
  content: "\e90e";
}
.icon-art:before {
  content: "\e90f";
}
.icon-pesos:before {
  content: "\e910";
}
.icon-confirmar:before {
  content: "\e911";
}
.icon-clonar:before {
  content: "\e912";
}
.icon-cerrar:before {
  content: "\e913";
}
.icon-lista:before {
  content: "\e914";
}
.icon-lista-2:before {
  content: "\e915";
}
.icon-calculadora:before {
  content: "\e916";
}
.icon-basura:before {
  content: "\e917";
}
.icon-action-ok:before {
  content: "\e918";
}
.icon-action-error:before {
  content: "\e919";
}
.icon-action-more:before {
  content: "\e91a";
}
.icon-action-remove:before {
  content: "\e91b";
}
.icon-action-next:before {
  content: "\e91c";
}
.icon-action-prev:before {
  content: "\e91d";
}
.icon-action-retomar:before {
  content: "\e91e";
}
.icon-action-update:before {
  content: "\e91f";
}
.icon-action-upload:before {
  content: "\e920";
}
.icon-action-download:before {
  content: "\e921";
}
.icon-action-chat:before {
  content: "\e922";
}
.icon-doc-edit:before {
  content: "\e923";
}
.icon-doc-error:before {
  content: "\e924";
}
.icon-doc-lock:before {
  content: "\e925";
}
.icon-doc-more:before {
  content: "\e926";
}
.icon-doc-mouse:before {
  content: "\e927";
}
.icon-doc-ok:before {
  content: "\e928";
}
.icon-doc-remove:before {
  content: "\e929";
}
.icon-doc-retomar:before {
  content: "\e92a";
}
.icon-doc-search:before {
  content: "\e92b";
}
.icon-doc-time:before {
  content: "\e92c";
}
.icon-doc-update:before {
  content: "\e92d";
}
.icon-doc-upload:before {
  content: "\e92e";
}
.icon-doc-warning:before {
  content: "\e92f";
}
.icon-doc-cloud:before {
  content: "\e930";
}
.icon-doc-download:before {
  content: "\e931";
}
