<div xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:portlet="http://java.sun.com/portlet_2_0"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui">
		<p:dataTable id="produccionDiariaTotalTbl" var="diario" value="#{ inicioBean.produccionDiaria.totalDiario }"
    			emptyMessage="No existen registros">
          			<p:column style="text-align:left">
			        	<p:outputLabel value="#{ diario.ramaDisplay }"></p:outputLabel>
			        </p:column>
          			<p:column style="text-align:right">
			        	<p:outputLabel style="font-size:12px;" value="#{ diario.cantidadNuevas }"></p:outputLabel>
			        </p:column>
			         <p:column style="text-align:right">
			        	<p:outputLabel style="font-size:12px;" value="#{ diario.primaNueva }">
			        		<f:convertNumber type="currency" currencySymbol="$" locale="es" pattern="$ ##0.00" />
			        	</p:outputLabel>
			        </p:column>
			        <p:column style="text-align:right">
			        	<p:outputLabel style="font-size:12px;" value="#{ diario.cantidadRenovaciones }"></p:outputLabel>
			        </p:column>
			         <p:column style="text-align:right">
			        	<p:outputLabel style="font-size:12px;" value="#{ diario.primaRenovaciones }">
			        		<f:convertNumber type="currency" currencySymbol="$" locale="es" pattern="$ ##0.00" />
			        	</p:outputLabel>
			        </p:column>
			        <p:column style="text-align:right">
			        	<p:outputLabel style="font-size:12px;" value="#{ diario.cantidadEndosoPositivo }"></p:outputLabel>
			        </p:column>
			         <p:column style="text-align:right">
			        	<p:outputLabel style="font-size:12px;" value="#{ diario.primaEndosoPositivo }">
			        		<f:convertNumber type="currency" currencySymbol="$" locale="es" pattern="$ ##0.00" />
			        	</p:outputLabel>
			        </p:column>
			        <p:column style="text-align:right">
			        	<p:outputLabel style="font-size:12px;" value="#{ diario.cantidadEndosoNegativo }"></p:outputLabel>
			        </p:column>
			         <p:column style="text-align:right">
			        	<p:outputLabel style="font-size:12px;" value="#{ diario.primaEndosoNegativo }">
			        		<f:convertNumber type="currency" currencySymbol="$" locale="es" pattern="$ ##0.00" />
			        	</p:outputLabel>
			        </p:column>
			        <p:column style="text-align:right">
			        	<p:outputLabel style="font-size:12px;" value="#{ diario.cantidadNeta }"></p:outputLabel>
			        </p:column>
			         <p:column style="text-align:right">
			        	<p:outputLabel style="font-size:12px;" value="#{ diario.primaNeta }">
			        		<f:convertNumber type="currency" currencySymbol="$" locale="es" pattern="$ ##0.00" />
			        	</p:outputLabel>
			        </p:column>
			        <p:column style="text-align:right">
			        	<p:outputLabel style="font-size:12px;" value="#{ diario.porcentajePrimaMasExtra } %"></p:outputLabel>
			        </p:column>
			         <p:column style="text-align:right">
			        	<p:outputLabel style="font-size:12px;" value="#{ diario.primaMasExtra }">
			        		<f:convertNumber type="currency" currencySymbol="$" locale="es" pattern="$ ##0.00" />
			        	</p:outputLabel>
			        </p:column>
			        <p:column style="text-align:right">
			        	<p:outputLabel style="font-size:12px;" value="#{ diario.porcentajeComisiones } %"></p:outputLabel>
			        </p:column>
			         <p:column style="text-align:right">
			        	<p:outputLabel style="font-size:12px;" value="#{ diario.importeComisiones }">
			        		<f:convertNumber type="currency" currencySymbol="$" locale="es" pattern="$ ##0.00" />
			        	</p:outputLabel>
			        </p:column>
    			</p:dataTable>    	
   </div>