/*
* SPARK LAYOUT & THEME
* Designed by Cem ALTUN - jamaltun@gmail.com
* Supported Browsers > Google Chrome 3+ , Mozilla Firefox 3+ , Safari 3+ , Opera 3+ , Yandex Browser , Inernet Explorer 9+
* Copyright 2014 - PrimeFaces Theme Market - PrimeTek */

/* FONT-FACE*/
@font-face {
    font-family: 'robotolight';
    src: url("#{resource['layout:fonts/roboto-light-webfont.eot']}");
    src: url("#{resource['layout:fonts/roboto-light-webfont.eot']}#iefix") format('embedded-opentype'),
         url("#{resource['layout:fonts/roboto-light-webfont.woff2']}") format('woff2'),
         url("#{resource['layout:fonts/roboto-light-webfont.woff']}") format('woff'),
         url("#{resource['layout:fonts/roboto-light-webfont.ttf']}") format('truetype'),
         url("#{resource['layout:fonts/roboto-light-webfont.svg']}#robotolight") format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoregular';
    src: url("#{resource['layout:fonts/roboto-regular-webfont.eot']}");
    src: url("#{resource['layout:fonts/roboto-regular-webfont.eot']}#iefix") format('embedded-opentype'),
         url("#{resource['layout:fonts/roboto-regular-webfont.woff2']}") format('woff2'),
         url("#{resource['layout:fonts/roboto-regular-webfont.woff']}") format('woff'),
         url("#{resource['layout:fonts/roboto-regular-webfont.ttf']}") format('truetype'),
         url("#{resource['layout:fonts/roboto-regular-webfont.svg']}#robotoregular") format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotobold';
    src: url("#{resource['layout:fonts/roboto-bold-webfont.eot']}");
    src: url("#{resource['layout:fonts/roboto-bold-webfont.eot']}#iefix") format('embedded-opentype'),
         url("#{resource['layout:fonts/roboto-bold-webfont.woff2']}") format('woff2'),
         url("#{resource['layout:fonts/roboto-bold-webfont.woff']}") format('woff'),
         url("#{resource['layout:fonts/roboto-bold-webfont.ttf']}") format('truetype'),
         url("#{resource['layout:fonts/roboto-bold-webfont.svg']}#robotobold") format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotomedium';
    src: url("#{resource['layout:fonts/roboto-medium-webfont.eot']}");
    src: url("#{resource['layout:fonts/roboto-medium-webfont.eot']}#iefix") format('embedded-opentype'),
         url("#{resource['layout:fonts/roboto-medium-webfont.woff2']}") format('woff2'),
         url("#{resource['layout:fonts/roboto-medium-webfont.woff']}") format('woff'),
         url("#{resource['layout:fonts/roboto-medium-webfont.ttf']}") format('truetype'),
         url("#{resource['layout:fonts/roboto-medium-webfont.svg']}#robotomedium") format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoblack';
    src: url("#{resource['layout:fonts/roboto-black-webfont.eot']}");
    src: url("#{resource['layout:fonts/roboto-black-webfont.eot']}#iefix") format('embedded-opentype'),
         url("#{resource['layout:fonts/roboto-black-webfont.woff2']}") format('woff2'),
         url("#{resource['layout:fonts/roboto-black-webfont.woff']}") format('woff'),
         url("#{resource['layout:fonts/roboto-black-webfont.ttf']}") format('truetype'),
         url("#{resource['layout:fonts/roboto-black-webfont.svg']}#robotoblack") format('svg');
    font-weight: normal;
    font-style: normal;

}

/*
.FontRalewayBold{font-family: 'ralewaybold';}
.FontRalewaySemiBold{font-family: 'ralewaysemibold';}
.FontRalewayMedium{font-family: 'ralewaymedium';}
.FontRalewayRegular{font-family: 'ralewayregular';}
.FontRalewayLight{font-family: 'ralewaylight';}
*/

.FontRobotoLight{font-family: 'robotolight';}
.FontRobotoRegular{font-family: 'robotoregular';}
.FontRobotoMedium{font-family: 'robotomedium';}
.FontRobotoBold{font-family: 'robotobold';}
.FontRobotoBlack{font-family: 'robotoblack';}

/*BODY*/
body{margin:0px; background-image:url("#{resource['layout:images/background.png']}"); background-repeat:repeat; background-position:center; background-color:#C3CCD5; 
     background-attachment:fixed; font-family: 'robotoregular';}
.body-content{margin:0px; background-image:url("#{resource['layout:images/background.png']}"); background-repeat:repeat; background-position:center; background-color:#C3CCD5; 
     background-attachment:fixed; }

/* menu mask*/
.menu-mask{position:fixed; z-index:999998; background-color:#647984; opacity:0;
-webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -ms-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease;}
.menu-mask-open{width:100%; height:100%; opacity:0.4 !important;}

/* Layout Top Bar*/
.layout-topbar{height:100px; width:100%; border-top:solid 10px #ffffff; background-color:#ffffff/*#F1F6F9*/; display:table;}
	.layout-topbar-indent{width:92%; margin:0px auto;}
		.logo{height:50px; margin-top:12px;}
		.mobile-menu-button{padding:10px 15px; background-color:#5fcf80; float:right; margin-top:20px; font-size:14px; position:relative; z-index:999;}
		.mobile-menu-button:hover{color:#bce3c9;}
		.mobile-menu-button-gray{background-color:#999999; padding:8px 13px; float:right; margin-top:20px; font-size:14px; margin-right:10px; position:relative; z-index:999;}
		.mobile-menu-button-gray:hover{opacity:0.8;}
		.layout-topbar-menu{float:right; padding:0px; margin-top:35px; max-width:800px; height:auto;}
			.layout-topbar-menu>li{float:right; text-align:center; padding-bottom:10px;}
				.layout-topbar-menu>li a{padding:10px 0px;}
				.layout-topbar-menu a{font-size:14px; line-height:16px; color:#999999; display:inline-block;}
				.layout-topbar-menu li:hover>a{color:#71CC8D;}
					.layout-topbar-menu i{font-size:18px;}
			.layout-topbar-menu .menu-separator{float:right; margin:0px 20px; font-size:14px; line-height:20px; color:#999999; margin-top:10px;}
			.layout-topbar-menu .notification-bubble{background-color:#d1626c; font-size:12px; padding:3px; color:#F1F6F9; line-height:12px; display:inline-block; margin-top:-5px;}
			.layout-topbar-menu .notification-bubble-green{background-color:#3ac162; font-size:12px; padding:3px; color:#F1F6F9; line-height:12px; display:inline-block; margin-top:-5px;}
				/* submenus */
				.layout-topbar-menu li ul{position:absolute; z-index:9999999; padding:0px; width:auto; height:auto; background-color:#F1F6F9; overflow:hidden; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px;
				-webkit-box-shadow: 0px 0px 2px 0px rgba(159,172,183,0.7); -moz-box-shadow: 0px 0px 2px 0px rgba(159,172,183,0.7); box-shadow: 0px 0px 2px 0px rgba(159,172,183,0.7);
				height:0px; margin-top:-10px; border-bottom:solid 5px #71CC8D; border-top:solid 5px #71CC8D; opacity:0;}
					.layout-topbar-menu li ul li a{padding:10px 15px; font-size:14px; display:block; border-bottom:dashed 1px #D9E3E8; text-align:left; overflow:hidden;}
						.layout-topbar-menu li ul li a .notification-bubble{margin-top:0px;}
					.layout-topbar-menu li ul li a:hover{background-color:#71CC8D; color:#F1F6F9;}
				/* .layout-topbar-menu li:hover ul{border-bottom:solid 5px #71CC8D; border-top:solid 5px #71CC8D; height:auto; margin-top:0px; opacity:1;} */

/*Layout Menu*/
#layout-menu{width:89%; min-height:70px; background-color:#009c33; margin:-25px auto 8px auto; padding:0px 5.5%;
             -webkit-box-shadow: 0px 1px 0px 0px rgba(70,145,91,0.8);
             -moz-box-shadow: 0px 1px 0px 0px rgba(70,145,91,0.8);
             box-shadow: 0px 1px 0px 0px rgba(70,145,91,0.8);}
	#layout-menu>li{float:left; text-align:center; padding-bottom:10px;}
				#layout-menu>li a{line-height:70px; color:#FFFFFF;}
				#layout-menu a{font-size:15px; line-height:15px; display:inline-block;}
				#layout-menu>li:hover>a{color:#bce3c9;}				
					#layout-menu>li a i{font-size:18px; line-height:17px;}
						#layout-menu>li ul li a i{font-size:16px; line-height:16px;}
				#layout-menu>li>ul.Animated03>li a{padding:10px 15px; line-height:15px;}
			#layout-menu .menu-separator{float:left; margin:0px 15px; font-size:14px; line-height:70px; color:#6bc689;}
			#layout-menu .notification-bubble{background-color:#d1626c; font-size:12px; padding:3px; color:#F1F6F9; line-height:12px; display:inline-block; margin-top:-5px;}
				/* submenus */
				#layout-menu li ul{padding:0px; width:auto; height:auto; background-color:#F1F6F9; overflow:hidden;
				height:0px; opacity:0; font-family: 'robotoregular';}
                    #layout-menu li ul li{height:0px; overflow:hidden;}
				#layout-menu>li>ul{position:absolute; z-index:999999; padding:0px; width:auto; height:auto; background-color:#F1F6F9; overflow:hidden; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px;
				-webkit-box-shadow: 0px 0px 2px 0px rgba(159,172,183,0.7); -moz-box-shadow: 0px 0px 2px 0px rgba(159,172,183,0.7); box-shadow: 0px 0px 2px 0px rgba(159,172,183,0.7);
				height:0px; margin-top:-5px; opacity:0; font-family: 'robotoregular';}
					#layout-menu li ul li a{padding:10px 15px; font-size:14px; display:block; border-bottom:solid 1px #D9E3E8; text-align:left; overflow:hidden; color:#555;}
						#layout-menu li ul li a .notification-bubble{margin-top:0px;}
					#layout-menu li ul li:hover>a{background-color:#999999; color:#F1F6F9;}
                #layout-menu>li>.openSubMenu{border-bottom:solid 5px #555555;}
				.openSubMenu{ height:auto !important; margin-top:0px !important; opacity:1 !important; overflow:visible !important;}
                    .openSubMenu li{height:auto !important; overflow:hidden;}
				.menuLevel1{padding-left:20px !important;}
				.menuLevel2{padding-left:25px !important;}
				.menuLevel3{padding-left:30px !important;}
				.menuLevel4{padding-left:35px !important;}
                
    #layout-menu .ui-inputfield{background-color: #71CC8D; border: 0px none; border-bottom: solid 1px #F1F6F9; color: #F1F6F9 !important; border-radius: 0px; padding: 5px 0px !important;
                  margin-top: 10px;   width: 110px;}
    #layout-menu ::-webkit-input-placeholder { /* WebKit browsers */ color:#F1F6F9; }
    #layout-menu :-moz-placeholder { /* Mozilla Firefox 4 to 18 */ color:#F1F6F9; opacity:  1; }
    #layout-menu ::-moz-placeholder { /* Mozilla Firefox 19+ */ color:#F1F6F9; opacity:  1; }
    #layout-menu :-ms-input-placeholder { /* Internet Explorer 10+ */ color:#F1F6F9; }
    
    #layout-menu .ui-button{margin-top:70px;}
    #layout-menu .ui-button .ui-button-text{background-color:#71CC8D;}
    #layout-menu .ui-button.ui-state-active .ui-button-text,
    #layout-menu .ui-button.ui-state-hover .ui-button-text,
    #layout-menu .ui-button.ui-state-focus .ui-button-text{box-shadow:none !important;}
    
    #layout-menu .ui-button.ui-state-hover .ui-button-text{background-color:#3ac162;}
    
    #layout-menu>li>ul.submenu {width:200px}
    
    /* keyboard support */
    .mobile-menu-button:focus{color: #bce3c9;}
    .mobile-menu-button-gray:focus {opacity: 0.8;}
    
    #layout-menu li ul a.ui-spark-focus{background-color: #999999; color: #F1F6F9;}
    #layout-menu > li > a.ui-spark-focus{color:#bce3c9;}
    
    .layout-topbar-menu li ul a.ui-spark-focus{background-color: #71CC8D; color: #F1F6F9;}
    .layout-topbar-menu > li > a.ui-spark-focus{color: #71CC8D;}
    
    
    #layout-menu,
    .layout-topbar-menu {
        outline: none;
    }  
/*Layout Portlets Cover*/
.layout-portlets-cover{width:92%; margin:0px auto; display: block;}
	.layout-portlets-box{width:97%; padding:1% 1.5%; margin:8px auto; float:left; background-color:#F6FAFC/*#F1F6F9*/; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px;
	-webkit-box-shadow: 0px 1px 0px 0px rgba(159,172,183,0.7);
	-moz-box-shadow: 0px 1px 0px 0px rgba(159,172,183,0.7);
	box-shadow: 0px 1px 0px 0px rgba(159,172,183,0.7);}
    
.other-pages-box{overflow: hidden; background-color:#F6FAFC; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px;}


/* LAYOUT STANDART STYLES -----------------------------------------------------------------*/

/* some styles for PF comps */
.FormContent .ui-grid-row{border:0px none !important;}

.col-md-4{width:33%; float:left;}

a{text-decoration:none; outline:none;}
img{outline:none;}
li{list-style:none;}

/* text colors */
.red{color:#D0525D;}
.blue{color:#33AFDE;}
.green{color:#5fcf80;}
.orange{color:#F7941E;}
.white{color:#F1F6F9;}
.softgray{color:#C3CCD5;}
.gray{color:#999999;}
.black{color:#3B3D3F;}

/* big topic */
.BigTopic{font-size:24px; color:#3B3D3F; font-family: 'robotomedium'; display:block; width:100%; border-bottom:solid 1px #C3CCD5; padding:10px 0px; margin-bottom:10px !important; overflow: hidden; font-weight:bold;}

/* shadows for gray and green boxes*/
.ShadowGray{-webkit-box-shadow: 0px 1px 0px 0px rgba(159,172,183,0.7);
-moz-box-shadow: 0px 1px 0px 0px rgba(159,172,183,0.7);
box-shadow: 0px 1px 0px 0px rgba(159,172,183,0.7);}
.ShadowGreen{-webkit-box-shadow: 0px 1px 0px 0px rgba(70,145,91,0.8);
-moz-box-shadow: 0px 1px 0px 0px rgba(70,145,91,0.8);
box-shadow: 0px 1px 0px 0px rgba(70,145,91,0.8);}

/* bordered box */
.BorderedBox{border:solid 1px #D9E3E8; background-color:#edf3f6; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;
			 border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px; margin-bottom:15px;}
            .BorderedBoxSelected{border:solid 1px #555555; background-color:#6c6c6c;}
.BottomBorderedBox{border-bottom:solid 1px #D9E3E8; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;
			 border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px; margin-bottom:15px;}
			 
/* seperator line */
.Seperator{border-bottom:solid 1px #C3CCD5; width:100%; overflow:hidden; height:0px; margin:15px 0px; float:left;}

/* hover effect for boxlink and links */
.HoverEffect:hover{border: solid 1px #71CC8D !important; color:#71CC8D !important; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;
				   -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -ms-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease;}
.HoverLink:hover{color:#71CC8D !important;}

.changecolor:hover{padding:20px; background-color:#5fcf80 !important;}


/* MEDIA QUERIES **************************************************************************************************************** */

/* Large desktop */
@media (min-width: 961px){
	.layout-topbar{height:100px;}
		.logo{height:54px;}
		.layout-topbar-menu{margin-top:22px; display:block !important;}
		#layout-menu{display:block !important;}
		.menu-mask, .menu-mask-open{display:none !important;}
}
 
@media (min-width: 960px) and (max-width:1200px){
	/* menu seperator margin decreasing */
    /* #layout-menu .menu-separator{margin:17px 15px 0px 15px;}*/
} 
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 640px) and (max-width: 960px) {
	/* big topic */
	.BigTopic{font-size:22px !important;}
	
	.layout-topbar{height:66px; margin-bottom:8px;}
		.logo{height:40px; margin-top:16px;}
		.mobile-menu-button, .mobile-menu-button-gray{padding: 8px 12px; font-size:14px; margin-top:17px;}
		
		/* topbar menu*/
		.layout-topbar-menu{position:absolute; width:40%; background-color:#F1F6F9; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px; overflow:hidden; right:4%; top:40px;
							-webkit-box-shadow: 0px 1px 0px 0px rgba(159,172,183,0.7); -moz-box-shadow: 0px 1px 0px 0px rgba(159,172,183,0.7); box-shadow: 0px 1px 0px 0px rgba(159,172,183,0.7);
							border-bottom:solid 5px #71CC8D; display:none; z-index:999999;}
			.layout-topbar-menu li{width:100%; text-align:left; padding:0px; float:left;}
				.layout-topbar-menu li a{width:88%; padding:5% 6% !important;}
				.layout-topbar-menu li:hover>a{color:#F1F6F9; background-color:#71CC8D;}
				.layout-topbar-menu li a{border-bottom:dashed 1px #D9E3E8;}
				.layout-topbar-menu li ul{padding:0px !important; margin:0px !important; border:0px !important; width:100% !important; overflow:hidden !important; position:relative;
										  border-radius:0px; -webkit-border-radius:0px; -moz-border-radius:0px; box-shadow:none;}
				.layout-topbar-menu li .openSubMenu{background-color:#E6EDF0;}
		/* main menu */		
		#layout-menu{position:absolute; width:40%; background-color:#F1F6F9; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px; overflow:hidden; right:4%; margin-top: -5px;
							-webkit-box-shadow: 0px 1px 0px 0px rgba(159,172,183,0.7); -moz-box-shadow: 0px 1px 0px 0px rgba(159,172,183,0.7); box-shadow: 0px 1px 0px 0px rgba(159,172,183,0.7);
							border-bottom:solid 5px #71CC8D; display:none; z-index:999999; padding:0px;}
			#layout-menu li{width:100%; text-align:left; padding:0px; float:left;}
				#layout-menu li a{width:88%; padding:5% 6%; color: #999999;}
					#layout-menu li ul li a{width:88%; padding:5% 6%;}
					#layout-menu li ul li a.menuLevel1{padding-left:9% !important; width:85%;}
					#layout-menu li ul li a.menuLevel2{padding-left:12% !important; width:82%;}
					#layout-menu li ul li a.menuLevel3{padding-left:15% !important; width:79%;}
					#layout-menu li ul li a.menuLevel4{padding-left:18% !important; width:76%;}
				#layout-menu li:hover>a{color:#F1F6F9; background-color:#71CC8D;}
				#layout-menu li a{border-bottom:dashed 1px #D9E3E8;}
				#layout-menu li ul{padding:0px !important; margin:0px !important; border:0px !important; width:100% !important; overflow:hidden !important; position:relative;
										  border-radius:0px; -webkit-border-radius:0px; -moz-border-radius:0px; box-shadow:none;}
				#layout-menu li .openSubMenu{background-color:#E6EDF0;}
			.menu-separator{display:none;}
            
            #layout-menu .ui-inputfield{background-color: #F1F6F9; border: 0px none; border-bottom: solid 1px #F1F6F9; color:#999999 !important; border-radius: 0px; padding: 5px 0px !important;
                  margin:10px 0px 10px 6%; width:70%; float: left;}
            #layout-menu ::-webkit-input-placeholder { /* WebKit browsers */ color:#999999; }
            #layout-menu :-moz-placeholder { /* Mozilla Firefox 4 to 18 */ color:#999999; opacity:  1; }
            #layout-menu ::-moz-placeholder { /* Mozilla Firefox 19+ */ color:#999999; opacity:  1; }
            #layout-menu :-ms-input-placeholder { /* Internet Explorer 10+ */ color:#999999; }

            #layout-menu .ui-button{margin-top:5px; margin-right: 3%;}
            #layout-menu .ui-button .ui-button-text{background-color:#71CC8D;}
            #layout-menu .ui-button.ui-state-active .ui-button-text,
            #layout-menu .ui-button.ui-state-hover .ui-button-text,
            #layout-menu .ui-button.ui-state-focus .ui-button-text{box-shadow:none !important;}

            #layout-menu .ui-button.ui-state-hover .ui-button-text{background-color:#3ac162;}
            
            /* keyboard support */
            .mobile-menu-button:focus{color: #bce3c9;}
            .mobile-menu-button-gray:focus {opacity: 0.8;}

            #layout-menu li ul a.ui-spark-focus{background-color: #71CC8D; color: #F1F6F9;}
            #layout-menu > li > a.ui-spark-focus{background-color: #71CC8D; color: #F1F6F9;}

            .layout-topbar-menu li ul a.ui-spark-focus{background-color: #71CC8D; color: #F1F6F9;}
            .layout-topbar-menu > li > a.ui-spark-focus{background-color: #71CC8D; color: #F1F6F9; }
		
		/* layout portlet box*/
		.layout-portlets-box{width:96%; padding:1% 2%;}
}
 
 
/* Landscape phone to portrait tablet */
@media (min-width:480px) and (max-width: 640px) {	
	/* big topic */
	.BigTopic{font-size:21px !important;} 
	
	.layout-topbar{height:60px; margin-bottom:5px;}
		.logo{height:35px; margin-top:16px;}
		.mobile-menu-button, .mobile-menu-button-gray{padding: 8px 12px; font-size:14px; margin-top:14px;}
								  
	/* topbar menu*/
		.layout-topbar-menu{position:absolute; width:50%; background-color:#F1F6F9; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px; overflow:hidden; right:4%; top:34px;
							-webkit-box-shadow: 0px 1px 0px 0px rgba(159,172,183,0.7); -moz-box-shadow: 0px 1px 0px 0px rgba(159,172,183,0.7); box-shadow: 0px 1px 0px 0px rgba(159,172,183,0.7);
							border-bottom:solid 5px #71CC8D; display:none; z-index:999999;}
			.layout-topbar-menu li{width:100%; text-align:left; padding:0px; float:left;}
				.layout-topbar-menu li a{width:88%; padding:5% 6% !important;}
				.layout-topbar-menu li:hover>a{color:#F1F6F9; background-color:#71CC8D;}
				.layout-topbar-menu li a{border-bottom:dashed 1px #D9E3E8;}
				.layout-topbar-menu li ul{padding:0px !important; margin:0px !important; border:0px !important; width:100% !important; overflow:hidden !important; position:relative;
										  border-radius:0px; -webkit-border-radius:0px; -moz-border-radius:0px; box-shadow:none;}
				.layout-topbar-menu li .openSubMenu{background-color:#E6EDF0;}
		/* main menu */		
		#layout-menu{position:absolute; width:50%; background-color:#F1F6F9; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px; overflow:hidden; right:4%; margin-top: -2px;
							-webkit-box-shadow: 0px 1px 0px 0px rgba(159,172,183,0.7); -moz-box-shadow: 0px 1px 0px 0px rgba(159,172,183,0.7); box-shadow: 0px 1px 0px 0px rgba(159,172,183,0.7);
							border-bottom:solid 5px #71CC8D; display:none; z-index:999999; padding:0px;}
			#layout-menu li{width:100%; text-align:left; padding:0px; float:left;}
				#layout-menu li a{width:88%; padding:5% 6%; color: #999999;}
					#layout-menu li ul li a{width:88%; padding:5% 6%;}
					#layout-menu li ul li a.menuLevel1{padding-left:9% !important; width:85%;}
					#layout-menu li ul li a.menuLevel2{padding-left:12% !important; width:82%;}
					#layout-menu li ul li a.menuLevel3{padding-left:15% !important; width:79%;}
					#layout-menu li ul li a.menuLevel4{padding-left:18% !important; width:76%;}
				#layout-menu li:hover>a{color:#F1F6F9; background-color:#71CC8D;}
				#layout-menu li a{border-bottom:dashed 1px #D9E3E8;}
				#layout-menu li ul{padding:0px !important; margin:0px !important; border:0px !important; width:100% !important; overflow:hidden !important; position:relative;
										  border-radius:0px; -webkit-border-radius:0px; -moz-border-radius:0px; box-shadow:none;}
				#layout-menu li .openSubMenu{background-color:#E6EDF0;}
			.menu-separator{display:none;}
            
            #layout-menu .ui-inputfield{background-color: #F1F6F9; border: 0px none; border-bottom: solid 1px #F1F6F9; color:#999999 !important; border-radius: 0px; padding: 5px 0px !important;
                  margin:10px 0px 10px 6%; width:70%; float: left;}
            #layout-menu ::-webkit-input-placeholder { /* WebKit browsers */ color:#999999; }
            #layout-menu :-moz-placeholder { /* Mozilla Firefox 4 to 18 */ color:#999999; opacity:  1; }
            #layout-menu ::-moz-placeholder { /* Mozilla Firefox 19+ */ color:#999999; opacity:  1; }
            #layout-menu :-ms-input-placeholder { /* Internet Explorer 10+ */ color:#999999; }

            #layout-menu .ui-button{margin-top:5px; margin-right: 3%;}
            #layout-menu .ui-button .ui-button-text{background-color:#71CC8D;}
            #layout-menu .ui-button.ui-state-active .ui-button-text,
            #layout-menu .ui-button.ui-state-hover .ui-button-text,
            #layout-menu .ui-button.ui-state-focus .ui-button-text{box-shadow:none !important;}

            #layout-menu .ui-button.ui-state-hover .ui-button-text{background-color:#3ac162;}
            
            /* keyboard support */
            .mobile-menu-button:focus{color: #bce3c9;}
            .mobile-menu-button-gray:focus {opacity: 0.8;}

            #layout-menu li ul a.ui-spark-focus{background-color: #71CC8D; color: #F1F6F9;}
            #layout-menu > li > a.ui-spark-focus{background-color: #71CC8D; color: #F1F6F9;}

            .layout-topbar-menu li ul a.ui-spark-focus{background-color: #71CC8D; color: #F1F6F9;}
            .layout-topbar-menu > li > a.ui-spark-focus{background-color: #71CC8D; color: #F1F6F9; }
			
		/* layout portlet box*/
		.layout-portlets-box{width:94%; padding:1% 3%;}
}
 
 
/* Portrait phones and down */
@media (min-width:320px) and (max-width: 480px) {
	/* big topic */
	.BigTopic{font-size:20px !important;} 
	
	.layout-topbar{height:50px; margin-bottom:5px;}
		.logo{height:25px; margin-top:15px;}
		.mobile-menu-button, .mobile-menu-button-gray{padding: 6px 9px; font-size:12px; margin-top:11px;}
	
    /* topbar menu*/
		.layout-topbar-menu{position:absolute; width:92%; background-color:#F1F6F9; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px; overflow:hidden; right:4%; top:25px;
							-webkit-box-shadow: 0px 1px 0px 0px rgba(159,172,183,0.7); -moz-box-shadow: 0px 1px 0px 0px rgba(159,172,183,0.7); box-shadow: 0px 1px 0px 0px rgba(159,172,183,0.7);
							border-bottom:solid 5px #71CC8D; display:none; z-index:999999;}
			.layout-topbar-menu li{width:100%; text-align:left; padding:0px; float:left;}
				.layout-topbar-menu li a{width:92%; padding:4% !important;}
				.layout-topbar-menu li:hover>a{color:#F1F6F9; background-color:#71CC8D;}
				.layout-topbar-menu li a{border-bottom:dashed 1px #D9E3E8;}
				.layout-topbar-menu li ul{padding:0px !important; margin:0px !important; border:0px !important; width:100% !important; overflow:hidden !important; position:relative;
										  border-radius:0px; -webkit-border-radius:0px; -moz-border-radius:0px; box-shadow:none;}
				.layout-topbar-menu li .openSubMenu{background-color:#E6EDF0;}
		/* main menu */		
		#layout-menu{position:absolute; width:92%; background-color:#F1F6F9; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px; overflow:hidden; right:4%; margin-top: -1px;
							-webkit-box-shadow: 0px 1px 0px 0px rgba(159,172,183,0.7); -moz-box-shadow: 0px 1px 0px 0px rgba(159,172,183,0.7); box-shadow: 0px 1px 0px 0px rgba(159,172,183,0.7);
							border-bottom:solid 5px #71CC8D; display:none; z-index:999999; padding:0px;}
			#layout-menu li{width:100%; text-align:left; padding:0px; float:left;}
				#layout-menu li a{width:88%; padding:4% 6%; color: #999999;}
					#layout-menu li ul li a{width:88%; padding:4% 6%;}
					#layout-menu li ul li a.menuLevel1{padding-left:9% !important; width:85%;}
					#layout-menu li ul li a.menuLevel2{padding-left:12% !important; width:82%;}
					#layout-menu li ul li a.menuLevel3{padding-left:15% !important; width:79%;}
					#layout-menu li ul li a.menuLevel4{padding-left:18% !important; width:76%;}
				#layout-menu li:hover>a{color:#F1F6F9; background-color:#71CC8D;}
				#layout-menu li a{border-bottom:dashed 1px #D9E3E8;}
				#layout-menu li ul{padding:0px !important; margin:0px !important; border:0px !important; width:100% !important; overflow:hidden !important; position:relative;
										  border-radius:0px; -webkit-border-radius:0px; -moz-border-radius:0px; box-shadow:none;}
				#layout-menu li .openSubMenu{background-color:#E6EDF0;}
			.menu-separator{display:none;}
                
            #layout-menu .ui-inputfield{background-color: #F1F6F9; border: 0px none; border-bottom: solid 1px #F1F6F9; color:#999999 !important; border-radius: 0px; padding: 5px 0px !important;
                  margin:10px 0px 10px 6%; width:70%; float: left;}
            #layout-menu ::-webkit-input-placeholder { /* WebKit browsers */ color:#999999; }
            #layout-menu :-moz-placeholder { /* Mozilla Firefox 4 to 18 */ color:#999999; opacity:  1; }
            #layout-menu ::-moz-placeholder { /* Mozilla Firefox 19+ */ color:#999999; opacity:  1; }
            #layout-menu :-ms-input-placeholder { /* Internet Explorer 10+ */ color:#999999; }

            #layout-menu .ui-button{margin-top:5px; margin-right: 3%;}
            #layout-menu .ui-button .ui-button-text{background-color:#71CC8D;}
            #layout-menu .ui-button.ui-state-active .ui-button-text,
            #layout-menu .ui-button.ui-state-hover .ui-button-text,
            #layout-menu .ui-button.ui-state-focus .ui-button-text{box-shadow:none !important;}

            #layout-menu .ui-button.ui-state-hover .ui-button-text{background-color:#3ac162;}
            
            /* keyboard support */
            .mobile-menu-button:focus{color: #bce3c9;}
            .mobile-menu-button-gray:focus {opacity: 0.8;}

            #layout-menu li ul a.ui-spark-focus{background-color: #71CC8D; color: #F1F6F9;}
            #layout-menu > li > a.ui-spark-focus{background-color: #71CC8D; color: #F1F6F9;}

            .layout-topbar-menu li ul a.ui-spark-focus{background-color: #71CC8D; color: #F1F6F9;}
            .layout-topbar-menu > li > a.ui-spark-focus{background-color: #71CC8D; color: #F1F6F9; }
			
		/* layout portlet box*/
		.layout-portlets-box{width:92%; padding:1% 4%;}
}

.layout-portlets-cover:before,.layout-portlets-cover:after,
.layout-portlets-box:before,.layout-portlets-box:after{
	content: "";
	display: table;
	border-collapse: collapse;
}

.layout-portlets-cover:after,
.layout-portlets-box:after{
    clear: both; 
}


.animated.fa{display:inline-block !important;}
.fa-spin.fa{display:inline-block !important;}

/* ============================================================================================================================== */
/* HDI */
#layout-menu{
	margin: -25px auto 8px auto;
}

.Wd20px{width:20px}
.Wd40px{width:40px}
.Wd60px{width:60px}
.Wd80px{width:80px}
.Wd100px{width:100px}
.Wd120px{width:120px}
.Wd140px{width:140px}
.Wd160px{width:160px}
.Wd180px{width:180px}
.Wd200px{width:200px}
.Wd220px{width:220px}
.Wd240px{width:240px}
.Wd260px{width:260px}
.Wd280px{width:280px}
.Wd300px{width:300px}
.Wd320px{width:320px}

.layout-portlets-cover-login{
	width: 70%;
	margin: 0px auto;
	display: block;
}

.box-breadcrum{
    width: 89%;
    padding: 0.6% 5.5% 0.4%;
    margin: -8px auto 8px;   
}

.ui-breadcrumb{
	padding: 0;
}

.ui-fluid .size-auto{width:auto;}

.BordRad3{
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}

.ui-treetable .ui-treetable-header, .ui-panel .ui-panel-titlebar {
    background-color: #009c33;
    text-align:left;
    font-family: 'robotoregular';
    font-size:2.5em;
}

.ButtInput span{
	padding: 6px 20px 6px 20px !important;
}

.ButtXsmall span{
	padding: 2px 8px 2px 8px !important;
}

.ButtSmall span{
	padding: 4px 10px 4px 10px !important;
}

.mTopWithoutTopBar{
	margin: 16px auto 8px;
}

.ui-tabs-left > .ui-tabs-nav{
	padding-top:10px;
	background-color:#777;
}

.titType1{
    color:#FFF;
    background-color:#555;
    padding:0.5em 0;
}
.titPanel1{
	font-size:1.2em;
	padding: 0.5em 1.5em 0.5em 1em;
	color:#555;
	font-weight: bold;
	display:inline-block;
	margin-bottom: -1px;
	border-radius: 2px !important;
    -webkit-border-radius: 2px !important;
    -moz-border-radius: 2px !important;
	border: solid #c6d6df;
	border-width: 1px 1px 0 1px;
	background-color:#fbfcfd;	
}
.titPanel1 i{
	font-size:1.3em;
	padding-right: 0.3em;
}

.titType2{
    border:1px solid #CCC;
    font-size: 1em;
    padding: 0 10px;
    height: 34px;
    line-height:34px;
    border-radius: 2px !important;
    -webkit-border-radius: 2px !important;
    -moz-border-radius: 2px !important;
}
.ui-panel {
	padding: 0!important;
}
.ui-panel .noBorder {
	border: 0!important;
}
.icon-big-green {
	font-size: 100px;
    color: #3ac162;
}
.icon-big-red {
	font-size: 100px;
    color: #D0525D;
}

/* HDI dataTables */
.dataTableCustom thead{
	background-color:#777777;
}

.dataTableCustom tr th{
	background-color:inherit !important;
	position:relative;
	vertical-align:top;
	padding: 5px 5px 45px 5px !important;
}

.dataTableCustomPreli tr th {
	padding: 5px 5px 5px 5px !important;
}
.dataTableCustom thead tr th span.ui-column-title{
	font-weight:normal;
	padding-right:12px;
}

.dataTableCustom thead tr th span.ui-icon-carat-2-n-s{
	position:absolute;	
	top:5px;
	right:3px;
}

.dataTableCustom tr th input.ui-inputtext{
	width: 96%;
	position: absolute;
	bottom: 5px;
	left: 2px;
}

.dataTableCustom tr th span.ui-calendar{
	width: 96%;
	position: absolute;
	bottom: 9px;
	left: 2px;
}

.tableStyle1{
	border: 0px;
	background-color: transparent;
}

.ui-datatable table tbody .ui-state-highlight > td{
	background-color: #3ac162;
}

.ui-commandlink {
	text-decoration: none;
}

/* Steps */
.stepCant3 li.ui-steps-item{
	width:33%;
}

.stepCant4 li.ui-steps-item{
	width:24.8%;
}
.stepCant5 li.ui-steps-item{
	width:19.8%;
}
.stepCant6 li.ui-steps-item{
	width:16.5%;
}

.stepCant3 span.ui-steps-number, .stepCant4 span.ui-steps-number, .stepCant5 span.ui-steps-number, .stepCant6 span.ui-steps-number{
	width: 50px;
	height: 50px !important;
	overflow: hidden;
	border-radius: 50% !important;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
}

.ui-state-default .step-default span.ui-steps-number{
	background-color: #8f8f8f !important;
}

.ui-state-highlight .step-default span.ui-steps-number{
	background-color: #009c33 !important;
}

.GridStylePrices{
	background-color:#FFF;
	border-top:1px solid #CCC;
	border-left:1px solid #CCC;
}
.GridStylePrices div{
	border-right:1px solid #CCC;
	border-bottom:1px solid #CCC;
	color: #778D9B;
	padding: 4px 10px !important;
	font-size:15px;
}
.GridStylePrices div.bolder{
    font-weight: bold;
}
.celdaSelected {
	background-color: #4AB97D;
}

/* PAGINATOR CUSTOM HDI */

.ui-datatable .ui-paginator .ui-paginator-first, .ui-datatable .ui-paginator .ui-paginator-prev, .ui-datatable .ui-paginator .ui-paginator-pages .ui-paginator-page, .ui-datatable .ui-paginator .ui-paginator-next, .ui-datatable .ui-paginator .ui-paginator-last, .ui-datatable .ui-paginator .ui-paginator-rpp-options {
	padding: 2px 6px;
	border: solid 1px #009c33;
    background-color: #009c33;
	border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
}

/* MENSAJES CUSTOM HDI */

.ui-growl .ui-growl-item-container {
	padding: 0 !important;
}

/* Tabs */
.ui-helper-reset {
    line-height: 1.9 !important;
}
.tabSupIcon span.icon-rama{
	margin-right:.5em;
}
.tabSupIcon span.icon{
	color:#FFF;
	width:1em;
	cursor:pointer;
	background-color:#009c33;
	padding:.5em;
	border-radius: 50%;
	font-size:.9em !important;
	top:-1.5em;
	position:absolute;
}
.tabSupIcon span.icon:hover{
    background-color:#009c33;
}
.tabSupIcon span.icon-x1{
	right:0;
}
.tabSupIcon span.icon-x2{
	right:2.2em;
}
.tabSupIconx2 a{
	/* padding: .5em 2em .5em 1em !important; */
}

/* Tabs Icons */
.tabIcon{
	width:auto;
	padding: 5px 15px;
}

/* Form elements */
.sliderInputText{
	margin-top:-6px !important;
	margin-bottom:6px;
	height:0 !important;;
}
.sliderInputText .ui-slider-handle {
    width: 20px !important;
    height: 10px !important;
}
.formPaddDef{
	padding: 4px 10px;
}
.formTitle{
	background-color:#6c6c6c;
	color:#FFF !important;
}

/* Border Box Styles */
.BBox1Selected, .BBox1Default:hover {
    border: solid 1px #009c33 !important;
    background-color: #009c33 !important;
    margin-bottom: 0 !important;
    color: #fff !important;
    padding: 20px;
}

.BBox1Default {
    border: solid 1px #d5dfe4 !important;
    background-color: transparent !important;
    margin-bottom: 0 !important;
    color: #9c9c9c;
    padding: 20px;
}

.BBox2Selected, .BBox2Default:hover {
    border: solid 1px #3ac162 !important;
    background-color: #3ac162  !important;
    margin-bottom: -10px !important;
    color: #fff !important;
    padding: 15px 20px;
}

.BBox2Default {
    border: solid 1px #d5dfe4 !important;
    background-color: transparent !important;
    margin-bottom: -10px !important;
    color: #9c9c9c;
    padding: 15px 20px;
}


/* Separator */
.separator-tabs{
	border-top: solid 2px #8f8f8f;
	margin-bottom:30px;
}

/* BUTTONS NO UI ICON - YES ICOMOON*/
.ui-no-icon{
	top: auto !important;
	margin-top: auto !important;
	background-image: none !important;
	left: auto !important;
	width: calc !important;
    height: 31px !important;
    display: block !important;
    background-color: transparent !important;
    position: absolute !important;
    font-size: 1.1em !important;
    line-height: 31px !important;
    color: #FFF !important;
    text-align: right !important;
	padding: 0 0 0 0.2em;
}

/* GRIDS */
.ui-panelgrid-padding-clear div.ui-panelgrid-cell{
    padding: 0 10px 0 0 !important;
}

.ui-rowgroup-header .ui-datatable-headerrow .ui-widget-header {
	background-color: #3a8104;
}
.ui-rowgroup-header .ui-datatable-headerrow .ui-widget-header td span {
	color: #FFF;
}

/* FORMS */
.ui-fluid .ui-inputtext{
	margin-bottom: 4px !important;
	text-transform: uppercase;
}
.checkboxLabel div.ui-chkbox-box{
	margin-top: 0 !important;
	margin-bottom: -2px !important;
}

/* BUTTONS */
.iconButton{
	font-size:1em;
	padding: 0.4em 0.6em;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	display:inline-block;
}
.iconButtonGreen{
	color:#fff !important;
	background-color:#3ac162;
}
.iconButtonGreen:hover{
    background-color:#15ad42;
}
.iconButtonRed{
	color:#fff !important;
	background-color:#d1626c;
}
.iconButtonRed:hover{
    background-color:#c3303d;
}
.iconButtonGrey{
	color:#fff !important;
	background-color:#777777;
}
.iconButtonGrey:hover{
    background-color:#555555;
}


.inputIcon{
  position: relative;
  color: #aaa;
  font-size: 16px;
}

.inputIcon span.inputIconButt{
  position: absolute;
  right: 0;
  min-width: 30px;
  padding: 11px 0;
  background-color:#a8a8a8;
  font-size: 14px;
  color: #F1F6F9;
  border-radius: 2px !important;
  -webkit-border-radius: 2px !important;
  -moz-border-radius: 2px !important;
  transition: all 0.2s ease;
  text-align:center;
  cursor:pointer;
 }
 
 .inputIcon span.inputIconButt:hover{
   background-color:#3ab35d;
 }

 .uiInputButt button{
     margin-top:-3px;
 }
 .uiInputButt button span.ui-button-text{
	padding: 6px 0px !important;
 }
 
.ui-fluid .ui-selectonemenu {
	min-width: 0 !important;
}

/* Agrupador TR */
.ui-rowgroup-header td{
	background-color: #009c33;
    color: #fff !important;
}

/* Indicadores Dashboard */
.indicadores{
	width:100%;
}
.indicadores .ui-dashboard-column {
    min-width: 49.5% !important;
}
.indicadores .ui-dashboard-column .ui-panel {
    margin-bottom: 20px !important;
}

/* Table Head */
.tbodyHead thead tr th{
	border-top: 0px !important;
    border-left: 0px !important;
    border-right: 0px !important;
}
.tbodyHead tbody tr td{
	color:#fff !important;
	border-right: solid 1px #5b5b5b !important;
    border-bottom: 0px !important;
    border-left: 0px !important;
}
.tableTitLeft tr td{
	border-top: 0px !important;
    border-left: 0px !important;
    border-right: 0px !important;
}
.tableRes tr td{
	border-top: 0px !important;
    border-left: 0px !important;
    border-right: 0px !important;
}
/* Loading */
.ui-widget-overlay {
    filter:alpha(opacity=20);  /* works in IE 7 */
    opacity: 0.2;  /* works in Firefox */
}
.loader-spin {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #009c33; /* Blue */
    border-radius: 50%;
    width: 32px;
    height: 32px;
    animation: spinload 0.7s linear infinite;
}

@keyframes spinload {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.loader-full{
	position:fixed;
	background-color:rgba(255, 255, 255, 0.95);
	width: 100%;
    height: 100%;
    z-index: 9999;
}
.loader-full .loader-content{
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-85px;
	margin-top:-90px;
	width:170px;
	overflow: hidden;
}
.loader-full .loader-content img{
	float:left;
}
.loader-full .loader-content .loader-spin{
	float:right;
}
.ResTotal {
	border: 0px !important;
}
.ResTotal .ui-panel-content.ui-widget-content {
	padding: 0px !important;	
}