<div xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:portlet="http://java.sun.com/portlet_2_0"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui">
	   	<ui:repeat id="repeatAgrupado" var="agrupamiento" value="#{ inicioBean.produccionAgrupada.agrupamiento }">
			<p:panel style="font-size: 5px;" header="#{ agrupamiento.nombre }" toggleable="true" collapsed="true">
				<p:dataTable value="#{ agrupamiento.lineaAgrupado }" var="agrupado"
				emptyMessage="No hay registros para este agrupamiento">
					<p:columnGroup type="header">
	     				<p:row>
	     					<p:column rowspan="2" colspan="1" headerText="Rama" />
	     					<p:column colspan="6" headerText="Resumen acumulado del día" />
	     					<p:column colspan="6" headerText="Resumen acumulado del mes" />
	     				</p:row>
	     				<p:row>
	     					<p:column headerText="Cant." />
	     					<p:column headerText="Prima Neta" />
	     					<p:column headerText="Porc." />
	     					<p:column headerText="Prima + Recargo" />
	     					<p:column headerText="Porc." />
	     					<p:column headerText="Comisión s/P+R" />
	     					<p:column headerText="Cant" />
	     					<p:column headerText="Prima Neta" />
	     					<p:column headerText="Porc." />
	     					<p:column headerText="Prima + Recargo" />
	     					<p:column headerText="Porc." />
	     					<p:column headerText="Comisión s/P+R" />
	     				</p:row>
	     			</p:columnGroup>
					<p:column style="text-align:left">
						<p:outputLabel style="font-size:12px;" value="#{agrupado.rama }">
						</p:outputLabel>
					</p:column>
					<p:column style="text-align:right">
						<p:outputLabel style="font-size:12px;" value="#{agrupado.cantidadDiaria }">
						</p:outputLabel>
					</p:column>
					<p:column style="text-align:right">
						<p:outputLabel style="font-size:12px;" value="#{agrupado.primaNetaDiaria }">
							<f:convertNumber type="currency" currencySymbol="$" locale="es" pattern="$ ##0.00" />
						</p:outputLabel>
					</p:column>
					<p:column style="text-align:right">
						<p:outputLabel style="font-size:12px;" value="#{agrupado.porcentajeDiario } %">
						</p:outputLabel>
					</p:column>
					<p:column style="text-align:right">
						<p:outputLabel style="font-size:12px;" value="#{agrupado.primaMasRecargoDiaria }">
							<f:convertNumber type="currency" currencySymbol="$" locale="es" pattern="$ ##0.00" />
						</p:outputLabel>
					</p:column>
					<p:column style="text-align:right">
						<p:outputLabel style="font-size:12px;" value="#{agrupado.porcentajeComisionDiario } %">
						</p:outputLabel>
					</p:column>
					<p:column style="text-align:right">
						<p:outputLabel style="font-size:12px;" value="#{agrupado.comisionDiario }">
							<f:convertNumber type="currency" currencySymbol="$" locale="es" pattern="$ ##0.00" />
						</p:outputLabel>
					</p:column>
					<p:column style="text-align:right">
						<p:outputLabel style="font-size:12px;" value="#{agrupado.cantidadMensual }">
						</p:outputLabel>
					</p:column>
					<p:column style="text-align:right">
						<p:outputLabel style="font-size:12px;" value="#{agrupado.primaNetaMensual }">
							<f:convertNumber type="currency" currencySymbol="$" locale="es" pattern="$ ##0.00" />
						</p:outputLabel>
					</p:column>
					<p:column style="text-align:right">
						<p:outputLabel style="font-size:12px;" value="#{agrupado.porcentajeMensual } %">
						</p:outputLabel>
					</p:column>
					<p:column style="text-align:right">
						<p:outputLabel style="font-size:12px;" value="#{agrupado.primaMasRecargoMensual }">
							<f:convertNumber type="currency" currencySymbol="$" locale="es" pattern="$ ##0.00" />
						</p:outputLabel>
					</p:column>
					<p:column style="text-align:right">
						<p:outputLabel style="font-size:12px;" value="#{agrupado.comisionMensual }">
							<f:convertNumber type="currency" currencySymbol="$" locale="es" pattern="$ ##0.00" />
						</p:outputLabel>
					</p:column>
					<p:column style="text-align:right">
						<p:outputLabel style="font-size:12px;" value="#{agrupado.porcentajeComisionMensual } %">
						</p:outputLabel>
					</p:column>
				</p:dataTable>
			</p:panel>
	   	</ui:repeat>
   </div>