@font-face {
  font-family: 'icomoon';
  src: url("#{resource['layout:fonts/icomoon/fonts/icomoon.eot']}&aphc32");
  src: url("#{resource['layout:fonts/icomoon/fonts/icomoon.eot']}&aphc32#iefix") format('embedded-opentype'), 
       url("#{resource['layout:fonts/icomoon/fonts/icomoon.ttf']}&aphc32") format('truetype'), 
       url("#{resource['layout:fonts/icomoon/fonts/icomoon.woff']}&aphc32") format('woff'), 
       url("#{resource['layout:fonts/icomoon/fonts/icomoon.svg']}&aphc32#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"], [class^="tab-icon-"] a:before, [class*=" tab-icon-"] a:before, [class^="step-icon-"] span:nth-child(1):before, [class*="step-icon-"] span:nth-child(1):before{
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Tab Icon Size */
[class^="tab-icon-"] a:before, [class*=" tab-icon-"] a:before{
  font-size:1.3em;
  margin-right:0.5em;
}

/* Steps */
[class^="step-icon-"] span:nth-child(1):before, [class*="step-icon-"] span:nth-child(1):before{
  display:block;
  line-height:50px !important;
  margin-bottom:100px;
}

/* Icons */
.icon-usuario:before, .tab-icon-usuario a:before, .step-icon-usuario span:nth-child(1):before {
  content: "\e900";
}
.icon-auto-1:before, .tab-icon-auto-1 a:before, .step-icon-auto-1 span:nth-child(1):before {
  content: "\e903";
}
.icon-auto-2:before, .tab-icon-auto-2 a:before, .step-icon-auto-2 span:nth-child(1):before {
  content: "\e904";
}
.icon-auto-3:before, .tab-icon-auto-3 a:before, .step-icon-auto-3 span:nth-child(1):before {
  content: "\e907";
}
.icon-vida:before, .tab-icon-vida a:before, .step-icon-vida span:nth-child(1):before {
  content: "\e908";
}
.icon-hogar:before, .tab-icon-hogar a:before, .step-icon-hogar span:nth-child(1):before {
  content: "\e909";
}
.icon-embarcacion:before, .tab-icon-embarcacion a:before, .step-icon-embarcacion span:nth-child(1):before {
  content: "\e90a";
}
.icon-consorcio:before, .tab-icon-consorcio a:before, .step-icon-consorcio span:nth-child(1):before {
  content: "\e90c";
}
.icon-lupa:before, .tab-icon-lupa a:before, .step-icon-lupa span:nth-child(1):before {
  content: "\e906";
}
.icon-doc:before, .tab-icon-doc a:before, .step-icon-doc span:nth-child(1):before {
  content: "\e905";
}
.icon-calendario:before, .tab-icon-calendario a:before, .step-icon-calendario span:nth-child(1):before {
  content: "\e902";
}
.icon-impresora:before, .tab-icon-impresora a:before, .step-icon-impresora span:nth-child(1):before {
  content: "\e901";
}
.icon-mercaderia:before, .tab-icon-mercaderia a:before, .step-icon-mercaderia span:nth-child(1):before {
  content: "\e90b";
}
.icon-comercio:before, .tab-icon-comercio a:before, .step-icon-comercio span:nth-child(1):before {
  content: "\e90d";
}
.icon-avion:before, .tab-icon-avion a:before, .step-icon-avion span:nth-child(1):before {
  content: "\e90e";
}
.icon-art:before, .tab-icon-art a:before, .step-icon-art span:nth-child(1):before {
  content: "\e90f";
}
.icon-pesos:before, .tab-icon-pesos a:before, .step-icon-pesos span:nth-child(1):before {
  content: "\e910";
}
.icon-confirmar:before, .tab-icon-confirmar a:before, .step-icon-confirmar span:nth-child(1):before {
  content: "\e911";
}
.icon-clonar:before, .tab-icon-clonar a:before, .step-icon-clonar span:nth-child(1):before {
  content: "\e912";
}
.icon-cerrar:before, .tab-icon-cerrar a:before, .step-icon-cerrar span:nth-child(1):before {
  content: "\e913";
}
.icon-lista:before, .tab-icon-lista a:before, .step-icon-lista span:nth-child(1):before {
  content: "\e914";
}
.icon-lista-2:before, .tab-icon-lista-2 a:before, .step-icon-lista-2 span:nth-child(1):before {
  content: "\e915";
}
.icon-calculadora:before, .tab-icon-calculadora a:before, .step-icon-calculadora span:nth-child(1):before {
  content: "\e916";
}
.icon-basura:before, .tab-icon-basura a:before, .step-icon-basura span:nth-child(1):before {
  content: "\e917";
}
.icon-action-ok:before, .tab-icon-action-ok a:before, .step-icon-action-ok span:nth-child(1):before {
  content: "\e918";
}
.icon-action-error:before, .tab-icon-action-error a:before, .step-icon-action-error span:nth-child(1):before {
  content: "\e919";
}
.icon-action-more:before, .tab-icon-action-more a:before, .step-icon-action-more span:nth-child(1):before {
  content: "\e91a";
}
.icon-action-remove:before, .tab-icon-action-remove a:before, .step-icon-action-remove span:nth-child(1):before {
  content: "\e91b";
}
.icon-action-next:before, .tab-icon-action-next a:before, .step-icon-action-next span:nth-child(1):before {
  content: "\e91c";
}
.icon-action-prev:before, .tab-icon-action-prev a:before, .step-icon-action-prev span:nth-child(1):before {
  content: "\e91d";
}
.icon-action-retomar:before, .tab-icon-action-retomar a:before, .step-icon-action-retomar span:nth-child(1):before {
  content: "\e91e";
}
.icon-action-update:before, .tab-icon-action-update a:before, .step-icon-action-update span:nth-child(1):before {
  content: "\e91f";
}
.icon-action-upload:before, .tab-icon-action-upload a:before, .step-icon-action-upload span:nth-child(1):before {
  content: "\e920";
}
.icon-action-download:before, .tab-icon-action-download a:before, .step-icon-action-download span:nth-child(1):before {
  content: "\e921";
}
.icon-action-chat:before, .tab-icon-action-chat a:before, .step-icon-action-chat span:nth-child(1):before {
  content: "\e922";
}
.icon-doc-edit:before, .tab-icon-doc-edit a:before, .step-icon-doc-edit span:nth-child(1):before {
  content: "\e923";
}
.icon-doc-error:before, .tab-icon-doc-error a:before, .step-icon-doc-error span:nth-child(1):before {
  content: "\e924";
}
.icon-doc-lock:before, .tab-icon-doc-lock a:before, .step-icon-doc-lock span:nth-child(1):before {
  content: "\e925";
}
.icon-doc-more:before, .tab-icon-doc-more a:before, .step-icon-doc-more span:nth-child(1):before {
  content: "\e926";
}
.icon-doc-mouse:before, .tab-icon-doc-mouse a:before, .step-icon-doc-mouse span:nth-child(1):before {
  content: "\e927";
}
.icon-doc-ok:before, .tab-icon-doc-ok a:before, .step-icon-doc-ok span:nth-child(1):before {
  content: "\e928";
}
.icon-doc-remove:before, .tab-icon-doc-remove a:before, .step-icon-doc-remove span:nth-child(1):before {
  content: "\e929";
}
.icon-doc-retomar:before, .tab-icon-doc-retomar a:before, .step-icon-doc-retomar span:nth-child(1):before {
  content: "\e92a";
}
.icon-doc-search:before, .tab-icon-doc-search a:before, .step-icon-doc-search span:nth-child(1):before {
  content: "\e92b";
}
.icon-doc-time:before, .tab-icon-doc-time a:before, .step-icon-doc-time span:nth-child(1):before{
  content: "\e92c";
}
.icon-doc-update:before, .tab-icon-doc-update a:before, .step-icon-doc-update span:nth-child(1):before {
  content: "\e92d";
}
.icon-doc-upload:before, .tab-icon-doc-upload a:before, .step-icon-doc-upload span:nth-child(1):before {
  content: "\e92e";
}
.icon-doc-warning:before, .tab-icon-doc-warning a:before, .step-icon-doc-warning span:nth-child(1):before {
  content: "\e92f";
}
.icon-doc-cloud:before, .tab-icon-doc-cloud a:before, .step-icon-doc-cloud span:nth-child(1):before {
  content: "\e930";
}
.icon-doc-download:before, .tab-icon-doc-download a:before, .step-icon-doc-download span:nth-child(1):before {
  content: "\e931";
}