<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<f:facet name="first">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport"
			content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
	</f:facet>
	<h:outputStylesheet name="bootstrap-3.3.7-dist/css/bootstrap.min.css" />

	<title>Producción</title>
	<ui:insert name="head" />
</h:head>
<h:body>
	<ui:insert name="body" />
	<h:outputScript name="js/layout.js" library="layout" />
	<h:outputScript name="js/calendar-localization.js" library="layout" />
	<h:form id="growlForm">
   		<p:growl id="growl" life="10" autoUpdate="true" redisplay="true" showDetail="true" sticky="true"/>  
   	</h:form>
	<h:form id="tablasForm"
		onkeypress="if (event.keyCode == 13) { return false; }">
		<p:panel toggleable="true" header="Producción">
			<div class="form-group">
			<p:outputLabel for="fechaProduccion" value="Seleccione una fecha: "></p:outputLabel>
				<p:calendar id="fechaProduccion"
					value="#{ inicioBean.fechaSistema.produccion }"
					pattern="dd/MM/yyyy" navigator="true" mask="true" showOn="button"
					lang="es">
					<p:ajax event="change"
						listener="#{ inicioBean.actualizarTablas() }"
						update=":tablasForm:tabProduccion"></p:ajax>
					<p:ajax event="dateSelect"
						listener="#{ inicioBean.actualizarTablas() }"
						update="tabProduccion"></p:ajax>
				</p:calendar>
			</div>
		</p:panel>
		<p:tabView id="tabProduccion" activeIndex="#{ inicioBean.activeTab }" styleClass="MarTop20">
			<p:ajax event="tabChange" listener="#{inicioBean.onTabChange}" update="tabProduccion" />
			<p:tab id="tabDiario" titletip="#{ inicioBean.diarioActualizado ? 'Actualizado' : '' }" title="Producción Diaria #{ inicioBean.diarioActualizado ? '*' : '' }" header="Producción Diaria">
				<p:panel id="produccionDiariaPanel">
					<div class="ui-g">
						<div class="Container75 Responsive50">
							<p:panelGrid columns="1" styleClass="ui-panelgrid-blank"
								layout="grid">
								<p:outputLabel
									value="Producción Diaria - Resumen de producción. Información del lote del día: #{ inicioBean.fechaFormateada }"></p:outputLabel>
								<p:outputLabel
									value="Todos los Importes están expresados en Moneda corriente"></p:outputLabel>
							</p:panelGrid>
						</div>
						<div class="Container25 Responsive50">
							<p:panelGrid columns="4" styleClass="ui-panelgrid-blank"
								layout="grid">
								<p:column>
									<div>
										<p:outputLabel value="Descargar"></p:outputLabel>
									</div>
								</p:column>
								<p:column>
									<h:commandLink id="produccionDiariaExcel" >
										<i class="fa fa-file-excel-o Fs30"></i>
										<p:ajax update=":growlForm:growl" event="click" listener="#{ inicioBean.crearExcelDiario() }"></p:ajax>
									</h:commandLink>
									<p:tooltip id="toolTipProduccionDiariaExcel" for="produccionDiariaExcel"
										value="EXCEL" position="top" />
								</p:column>
								<p:column>
									<h:commandLink id="produccionDiariaPDF">
										<i class="fa fa-file-pdf-o Fs30"></i>
										<p:ajax update=":growlForm:growl" event="click" listener="#{ inicioBean.crearPDF('diario') }"></p:ajax>
									</h:commandLink>
									<p:tooltip id="tooltipExcelDiario" for="produccionDiariaPDF"
										value="PDF" position="top" />
								</p:column>
								<p:column>
									<h:commandLink id="detalleProduccionDiariaXLS"
										update=":growlForm:growl">
										<i class="fa icon-doc-download Fs30"></i>
										<p:ajax update=":growlForm:growl" event="click" listener="#{ inicioBean.crearExcelDetalleProduccionDiaria() }"></p:ajax>
									</h:commandLink>
									<p:tooltip id="tooltipExcelDetalleDiario"
										for="detalleProduccionDiariaXLS"
										value="Detalle Produccion Diaria" position="top" />
								</p:column>
							</p:panelGrid>
						</div>
						<ui:include src="/pages/diario/diarioLista.xhtml"></ui:include>
						<ui:include src="/pages/diario/diarioTotal.xhtml"></ui:include>
					</div>
				</p:panel>
			</p:tab>
			<p:tab id="tabAcumulado" title="Producción Acumulada #{ inicioBean.acumuladoActualizado ? '*' : '' }" titletip="#{ inicioBean.acumuladoActualizado ? 'Actualizado' : '' }">
				<p:panel id="produccionAcumuladaPanel">
					<div class="ui-g">
						<div class="Container80 Responsive50">
							<p:panelGrid columns="1" styleClass="ui-panelgrid-blank"
								layout="grid">
									<p:outputLabel
										value="Resumen de producción. Información del lote del día: #{ inicioBean.fechaFormateada }"></p:outputLabel>
									<p:outputLabel
										value="Todos los Importes están expresados en Moneda corriente"></p:outputLabel>
							</p:panelGrid>
						</div>
						<div class="Container20 Responsive50">
							<p:panelGrid columns="3" styleClass="ui-panelgrid-blank"
								layout="grid" style="text-align:right">
								<p:column>
									<div>
										<p:outputLabel value="Descargar"></p:outputLabel>
									</div>
								</p:column>
								<p:column>
									<h:commandLink id="produccionAcumuladaExcel"
										update=":growlForm:growl">
										<i class="fa fa-file-excel-o Fs30"></i>
										<p:ajax event="click" listener="#{ inicioBean.crearExcelAcumulado() }" ></p:ajax>
									</h:commandLink>
									<p:tooltip id="toolAcumuladoExcel" for="produccionAcumuladaExcel"
										value="EXCEL" position="top" />
								</p:column>
								<p:column>
									<h:commandLink id="produccionAcumuladaPDF"
										update=":growlForm:growl">
										<i class="fa fa-file-pdf-o Fs30 Fs30"></i>
										<p:ajax event="click" listener="#{ inicioBean.crearPDF('acumulado') }"></p:ajax>
									</h:commandLink>
									<p:tooltip id="toolAcumuladaPDF" for="produccionAcumuladaPDF"
										value="PDF" position="top" />
								</p:column>
							</p:panelGrid>
						</div>
						<ui:include src="/pages/acumulado/acumuadoLista.xhtml"></ui:include>
						<ui:include src="/pages/acumulado/acumuadoTotal.xhtml"></ui:include>
					</div>
				</p:panel>
			</p:tab>
			<p:tab id="tabAgrupada" title="Producción Agrupada #{ inicioBean.agrupadoActualizado ? '*' : '' }" titletip="#{ inicioBean.agrupadoActualizado ? 'Actualizado' : '' }">
				<p:panel id="produccionAgrupadaPanel">
					<div class="ui-g">
						<div class="Container80 Responsive50">
							<p:panelGrid columns="1" styleClass="ui-panelgrid-blank"
								layout="grid">
								<p:outputLabel
									value="Resumen de producción. Información del lote del día: #{ inicioBean.fechaFormateada }"></p:outputLabel>
								<p:outputLabel
									value="Todos los Importes están expresados en Moneda corriente"></p:outputLabel>
							</p:panelGrid>
						</div>
						<div class="Container20 Responsive50">
							<p:panelGrid columns="3" styleClass="ui-panelgrid-blank"
								layout="grid" style="text-align:right">
								<p:column>
									<div>
										<p:outputLabel value="Descargar"></p:outputLabel>
									</div>
								</p:column>
								<p:column>
									<h:commandLink id="produccionAgrupadaExcel"
										update=":growlForm:growl">
										<i class="fa fa-file-excel-o Fs30"></i>
										<p:ajax event="click" listener="#{ inicioBean.crearExcelAgrupado() }"></p:ajax>
									</h:commandLink>
									<p:tooltip id="tooltipExcelAgrupada"
										for="produccionAgrupadaExcel" value="EXCEL" position="top" />
								</p:column>
								<p:column>
									<h:commandLink id="produccionAgrupadaPDF"
										update=":growlForm:growl">
										<i class="fa fa-file-pdf-o Fs30"></i>
										<p:ajax event="click" listener="#{ inicioBean.crearPDF('agrupada') }"></p:ajax>
									</h:commandLink>
									<p:tooltip id="tooltipPDFAgrupada" for="produccionAgrupadaPDF"
										value="PDF" position="top" />
								</p:column>
							</p:panelGrid>
						</div>
					</div>
					<ui:include src="/pages/agrupado/agrupadoLista.xhtml"></ui:include>
				</p:panel>
			</p:tab>
		</p:tabView>
		<p:blockUI id="blockUi" block=":tablasForm"
			trigger=":tablasForm:fechaProduccion, :tablasForm:tabProduccion:detalleProduccionDiariaXLS, 
			:tablasForm:tabProduccion:produccionDiariaExcel, :tablasForm:tabProduccion:produccionDiariaPDF,
			:tablasForm:tabProduccion:produccionAcumuladaExcel, :tablasForm:tabProduccion:produccionAcumuladaPDF,
			:tablasForm:tabProduccion:produccionAgrupadaExcel, :tablasForm:tabProduccion:produccionAgrupadaPDF">
			<h:graphicImage name="images/hdi.png" library="layout"
				styleClass="logo" />
			<div class="loader-spin" style="margin: 20px"></div>
		</p:blockUI>
	</h:form>
	<h:outputStylesheet name="css/core-layout.css" library="layout" />
	<h:outputStylesheet name="css/font-awesome.css" library="layout" />
	<h:outputStylesheet name="css/font-icomoon.css" library="layout" />
	<h:outputStylesheet name="css/animate.css" library="layout" />
	<h:outputStylesheet name="css/spark-layout.css" library="layout" />
</h:body>
</html>